.File-Contents {
	padding: 20px !important;
	color: white;
	text-align: left;
	text-indent: 0px;
}

.Label {
	color: black;
	padding: 10px 10px 10px 10px !important;
}

.Objectname {
	text-align: left !important;
	flex: none !important;
	box-sizing: border-box !important;
}

.Commentline {
	padding: 0px !important;
	color: black;
	text-align: left;
	text-indent: 20px;
}

.Spacer {
	font-size: 0;
	height: 30px;
	line-height: 0;
}

.Zero-o {
	padding: 0px 0px 0px 0px !important;
}

.Table {
	font-size: small;
}

.Condensed {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}

.densegrid.grid {
	margin: 1px !important;
}
.densegrid.grid .column {
	padding: 1px !important;
}

.Headers {
	padding: 10px 0px 5px 10px !important;
}

.NoInput > input {
	border-color: rgba(175, 66, 236, 0.68) !important;
}

.FirstInput > input {
	border-color: var(--firstrangecolor) !important;
	border-width: 0.105rem !important;
}

.SecondInput > input {
	border-color: var(--secondrangecolor) !important;
	border-width: 0.105rem !important;
}

.ThirdInput > input {
	border-color: var(--thirdrangecolor) !important;
	border-width: 0.105rem !important;
}

::-webkit-input-placeholder {
	color: black !important;
	font-style: normal;
}

canvas {
	z-index: -1 !important;
}

.OverCanvas {
	z-index: 20 !important;
}

.Labelright {
	float: right !important;
	padding-right: 15px !important;
}
