body {
	flex-direction: column;
	width: 100%;
	margin: 3px;
	padding: 20px 20px 20px 20px !important;
	margin-top: 20px;
}

.App {
	flex: auto !important;
	background-color: white;
	text-align: center;
}

.App-header {
	height: 150px;
	padding: 20px;
	color: black;
}

.Side-bar {
	flex: auto;
}
